#line {
    list-style-type: none;
    background-color: deepskyblue;
}

.div-main1 {
    width: 100%;
    height: 800px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.one {
    background-color: rgb(195, 221, 230);
    width: 10%;
    height: 100%;
    border: 2px solid deepskyblue;
    float: left;
}

.two {
    width: 90%;
    height: 100%;
    border: 2px solid deepskyblue;

}

#grad {
    background-image: linear-gradient(to bottom right, #66ccff, #bbbb88);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    background-color: #f1f1f1;
}

li {
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: xx-large;
    line-height: 160px;

}

li a {
    height: 100%;
    display: block;
    color: #000;

    text-decoration: none;
}

li a:hover {
    background-color: greenyellow;
    /* color: white; */
}

@media (min-width: 600px) {}



.OneChild {
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    height: 20%;
    font-size: x-large;
    text-align: center;
    line-height: 160px
}

.OneChild:hover {
    background-color: aquamarine;

}